html{
    background-color: hsl(160, 100%, 65%);
    font-size: 16px;/* 16px = 1rem */
}
body{
    padding: 1rem;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-type:"❤️";
}

li {
    font-size: 1.5rem;
}

/* link già visitato */
a.a:link {
    color: red;
    text-decoration: none;
}

a:visited {
    color: hsl(0, 100%, 30%);
}
a:hover{
    color: hsl(0, 100%, 30%);
}
a:active {
    color: hsl(0, 100%, 30%);

}