
body {
    color: purple;
    background-color: yellowgreen;
    margin: 0;
    padding: 0;
    font-family: sans-serif; 
}


#page {
    width: 90%;
    margin: 0 auto; 
    padding: 20px 0;
}

#about-me {
    background-color: blue;
    color: white; 
}

.selection {
    padding: 16px;
}


.gallery {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
}


.gallery img {
    max-width: 100%; 
    height: auto;
    display: block;
}